<h1>ホーム</h1>

<%= if is_nil(@current_user) do %>
  <p>こんにちは。ユーザー作成してログインして使ってな</p>
<% else %>
  <p><%= @current_user.name %>さんの持っているタスクシートの一覧です。</p>
  <ul class="list-group">
    <%= for sheet <- @sheets do %>
      <li class="list-group-item"><%= link sheet.name, to: task_sheet_tasks_sheet_path(@conn, :show, sheet.id) %></li>
    <% end %>
  </ul>
<% end %>

