<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello TaskSheet!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample4">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link "タスクシートアプリ", to: task_seat_page_path(@conn, :home), class: "navbar-brand" %>
            </div>
            <div class="collapse navbar-collapse" id="navbarEexample4">
                <%= if is_logged_in?(@conn) do %>
                  <ul class="nav navbar-nav">
                    <%= link "タスク一覧", to: "/", class: "btn btn-default navbar-btn" %>
                  </ul>
                  <%= link "ログアウト", to: task_seat_session_path(@conn, :logout), method: :post, class: "btn navbar-right btn-danger navbar-btn" %>
                  <p class="navbar-text navbar-right">こんにちは <%= current_user(@conn).name %> さん 　 </p>
                <% else %>
                  <ul class="nav navbar-nav">
                    <%= button "ログイン", to: task_seat_session_path(@conn, :new), method: :get, class: "btn btn-default navbar-btn" %>
                    <%= button "アカウント作成", to: task_seat_user_path(@conn, :new), method: :get, class: "btn btn-default navbar-btn" %>
                  </ul>
                <% end %>
            </div>
          </div>
        </nav>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
