<h1>ホーム</h1>

<%= if is_nil(@current_user) do %>
  <%= link "ログイン", to: task_seat_session_path(@conn, :new), class: "btn btn-primary" %>
<% else %>
  <h2>name: <%= @current_user.name %></h2>
  <h2>email: <%= @current_user.email %></h2>
  <%= link "ログアウト", to: task_seat_session_path(@conn, :logout), method: :post, class: "btn btn-danger" %>
<% end %>


