<h1>ホーム</h1>

<%= if is_nil(@current_user) do %>
  <p>こんにちは。ユーザー作成してログインして使ってな</p>
<% else %>
  <p><%= @current_user.name %>さんの持っているタスクシートの一覧です。</p>
  <ul class="list-group">
    <%= for sheat <- @sheats do %>
      <li class="list-group-item"><%= link sheat.name, to: "/" %></li>
    <% end %>
  </ul>
<% end %>

